.d{
background-color: rgb(24, 24, 24);
    padding-block: 100px 100px;
    padding: 15px;




}
#h1{
	padding:15px;
	color: #FEE6A5;
}
.p{

background-color: rgb(224, 234, 255);
    padding-block: 100px 100px;
    padding: 15px;
    box-shadow: 1px 1px 10px;



}
